<body class="body-music">
  <header class="header-music">
    <div class="menu_side">
      <h1>SYRA</h1>
      <div class="playlist">
        <h4 class="active">
          <span></span><i class="bi bi-music-note-beamed"></i>Playlist
        </h4>
        <h4><span></span><i class="bi bi-music-note-beamed"></i>Recentes</h4>
        <h4>
          <span></span><i class="bi bi-music-note-beamed"></i>Recomendados
        </h4>
      </div>
      <div class="menu_song">
        <li class="songItem">
          <span>01</span>
          <img src="/img/album kda.jpg" alt="k/da" />
          <h5>
            POP/STAR
            <div class="subtitle">K/DA</div>
          </h5>
          <i class="bi playListPlay bi-play-circle-fill" id="1"></i>
        </li>
        <li class="songItem">
          <span>02</span>
          <img src="/img/album more.jpg" alt="more" />
          <h5>
            MORE
            <div class="subtitle">K/DA & Seraphine</div>
          </h5>
          <i class="bi playListPlay bi-play-circle-fill" id="2"></i>
        </li>
        <li class="songItem">
          <span>03</span>
          <img src="/img/album paranoia.jpg" alt="heartsteel" />
          <h5>
            PARANOIA
            <div class="subtitle">HEARTSTEEL</div>
          </h5>
          <i class="bi playListPlay bi-play-circle-fill" id="3"></i>
        </li>
        <li class="songItem">
          <span>04</span>
          <img src="/img/album pentakill.jpg" alt="pentakill" />
          <h5>
            Lost Chapter
            <div class="subtitle">Pentakill</div>
          </h5>
          <i class="bi playListPlay bi-play-circle-fill" id="4"></i>
        </li>
        <li class="songItem">
          <span>05</span>
          <img src="/img/album true.jpg" alt="truedamage" />
          <h5>
            GIANTS
            <div class="subtitle">True Damage</div>
          </h5>
          <i class="bi playListPlay bi-play-circle-fill" id="5"></i>
        </li>
        <li class="songItem">
          <span>06</span>
          <img src="/img/album seraphine.jpg" alt="seraphine" />
          <h5>
            Childhood Dreams
            <div class="subtitle">Seraphine</div>
          </h5>
          <i class="bi playListPlay bi-play-circle-fill" id="6"></i>
        </li>


      </div>
    </div>
    <div class="song_side">
      <nav>
        <ul>
          <li>Descubra<span></span></li>
          <li>Minha Lista</li>
          <li>Rádio</li>
        </ul>
        <div class="search">
          <i class="bi bi-search"></i>
          <input type="text" placeholder="Buscar música...">
        </div>
        <div class="user">
          <img src="/img/icon.png" alt="user" title="kayn_user">
        </div>
      </nav>
      <div class="content">
        <h1>Evelynn - VILLAIN</h1>
        <p>"Você realmente está surpreso que eu esteja brincando com sua mente."
          <br>
          Escute "VILLAIN" agora mesmo na Syra!
        </p>
        <div class="buttons">
          <button>PLAY</button>
          <button>SEGUIR</button>
        </div>
      </div>
      <div class="popular_song">
        <div class="h4">
          <h4>Músicas populares</h4>
          <div class="btn_s">
            <i id="left_scroll" class="bi bi-arrow-left-short"></i>
            <i id="right_scroll" class="bi bi-arrow-right-short"></i>
          </div>
        </div>
        <div class="pop_song">
          <li class="songItem">
            <div class="img_play">
              <img src="/img/album more.jpg" alt="more">
              <i class="bi playListPlay bi-play-circle-fill" id="9"></i>
            </div>
            <h5>
              VILLAIN
              <br>
              <div class="subtitle">Evelyn & Kim Petras</div>
            </h5>
          </li>
          <li class="songItem">
            <div class="img_play">
              <img src="/img/album more.jpg" alt="more">
              <i class="bi playListPlay bi-play-circle-fill" id="10"></i>
            </div>
            <h5>
              VILLAIN
              <br>
              <div class="subtitle">Evelyn & Kim Petras</div>
            </h5>
          </li>
          <li class="songItem">
            <div class="img_play">
              <img src="/img/album more.jpg" alt="more">
              <i class="bi playListPlay bi-play-circle-fill" id="11"></i>
            </div>
            <h5>
              VILLAIN
              <br>
              <div class="subtitle">Evelyn & Kim Petras</div>
            </h5>
          </li>
          <li class="songItem">
            <div class="img_play">
              <img src="/img/album more.jpg" alt="more">
              <i class="bi playListPlay bi-play-circle-fill" id="12"></i>
            </div>
            <h5>
              VILLAIN
              <br>
              <div class="subtitle">Evelyn & Kim Petras</div>
            </h5>
          </li>
          <li class="songItem">
            <div class="img_play">
              <img src="/img/album more.jpg" alt="more">
              <i class="bi playListPlay bi-play-circle-fill" id="13"></i>
            </div>
            <h5>
              VILLAIN
              <br>
              <div class="subtitle">Evelyn & Kim Petras</div>
            </h5>
          </li>
          <li class="songItem">
            <div class="img_play">
              <img src="/img/album more.jpg" alt="more">
              <i class="bi playListPlay bi-play-circle-fill" id="14"></i>
            </div>
            <h5>
              VILLAIN
              <br>
              <div class="subtitle">Evelyn & Kim Petras</div>
            </h5>
          </li>
          <li class="songItem">
            <div class="img_play">
              <img src="/img/album more.jpg" alt="more">
              <i class="bi playListPlay bi-play-circle-fill" id="15"></i>
            </div>
            <h5>
              VILLAIN
              <br>
              <div class="subtitle">Evelyn & Kim Petras</div>
            </h5>
          </li>
          <li class="songItem">
            <div class="img_play">
              <img src="/img/album more.jpg" alt="more">
              <i class="bi playListPlay bi-play-circle-fill" id="16"></i>
            </div>
            <h5>
              VILLAIN
              <br>
              <div class="subtitle">Evelyn & Kim Petras</div>
            </h5>
          </li>
          <li class="songItem">
            <div class="img_play">
              <img src="/img/album more.jpg" alt="more">
              <i class="bi playListPlay bi-play-circle-fill" id="17"></i>
            </div>
            <h5>
              VILLAIN
              <br>
              <div class="subtitle">Evelyn & Kim Petras</div>
            </h5>
          </li>
          <li class="songItem">
            <div class="img_play">
              <img src="/img/album more.jpg" alt="more">
              <i class="bi playListPlay bi-play-circle-fill" id="18"></i>
            </div>
            <h5>
              VILLAIN
              <br>
              <div class="subtitle">Evelyn & Kim Petras</div>
            </h5>
          </li>
          <li class="songItem">
            <div class="img_play">
              <img src="/img/album more.jpg" alt="more">
              <i class="bi playListPlay bi-play-circle-fill" id="19"></i>
            </div>
            <h5>
              VILLAIN
              <br>
              <div class="subtitle">Evelyn & Kim Petras</div>
            </h5>
          </li>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="master_play">
      <div class="wave">
        <div class="wave1"></div>
        <div class="wave1"></div>
        <div class="wave1"></div>
      </div>
      <img src="/img/album kda.jpg" alt="k/da" />
      <h5>POP/STAR <br>
        <div class="subtitle">K/DA</div>
      </h5>
      <div class="icon">
        <i class="bi bi-skip-start-fill"></i>
        <i class="bi bi-play-fill"></i>
        <i class="bi bi-skip-end-fill"></i>
      </div>
      <span class="currentStart">0:00</span>
      <div class="bar">
        <input type="range" id="seek" min="0" value="0" max="100">
        <div class="bar2" id="bar2"></div>
        <div class="dot"></div>
      </div>
      <span class="currentEnd">0:00</span>
      <div class="vol">
        <i class="bi bi-volume-down-fill"></i>
        <input type="range" id="vol" min="0" value="30" max="100">
        <div class="vol_bar"></div>
        <div class="dot" id="vol_dot"></div>
      </div>
    </div>
  </header>
  <script src="app.js"></script>
</body>