<body class="body-suporte">
<section class="section-suporte">
    <h2>Contato</h2>
    <form action="https://api.staticforms.xyz/submit" method="post">
        <label>Nome:</label>
        <input type="text" name="name" placeholder="Digite seu nome" autocomplete="off" required>
        <label>E-mail:</label>
        <input type="email" name="email" placeholder="Digite seu e-mail" autocomplete="off" required> 
        <label>Mensagem:</label>
        <textarea name="message" cols="30" rows="10" placeholder="Digite sua mensagem" required></textarea>
        <button type="submit">Enviar</button>

        <input type="hidden" name="accessKey" value="8f9f5651-1a4c-4be2-811e-4650cb00e5de">
        <input type="hidden" name="redirectTo" value="http://127.0.0.1:3000/syra/obrigado">

    </form>
</section>
</body>